<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736709542369-fhlp130n224pe9ebkt2goqcob2ife40v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736709542369-fhlp130n224pe9ebkt2goqcob2ife40v</string>
	<key>API_KEY</key>
	<string>AIzaSyAOF1kzOFOxmUg-QPnO0deM-YnS5kf6gyA</string>
	<key>GCM_SENDER_ID</key>
	<string>736709542369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Devlopment-Z.Project</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-c1ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-c1ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736709542369:ios:24c0f39a8bfbe56d9bd2a0</string>
	<key>DATABASE_URL</key>
	<string>https://customlogindemo-c1ce7.firebaseio.com</string>
</dict>
</plist>